<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Writers</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

  <h3>Writer List</h3>
  <a th:href="@{/writer/add}" class="btn btn-primary btn-sm mb-3" >Add Writer</a>
  <table style="width:80%" border="1"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="writer:${writers}">
      <td th:text="${writer.writer_name}"></td>
      <td th:text="${writer.writer_surname}"></td>
    </tr></tbody>
  </table>
</div>
</body>
</html>